/*************************** SEÇÃO DAS TAGS DO CORPO INTEIRO ************************** */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #121212;
  color: #f0f0f0;
}

/*************************** SEÇÃO DA HEADER E MENU DE NAVEGAÇÃO ***************************/
.navegacao {
  position: fixed;
  background: rgba(4, 5, 5, 0.4);
  width: 100%;
  z-index: 100;
  top: 0;
  padding: 24px;
}

.lista {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
}

.links {
  text-decoration: none;
  color: #f0f0f0;
  font-weight: 500;
  position: relative;
  padding: 8px 0;
}

.links::after {
  content: "";
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #ff4b1f, #fa6743);
  transition: width 0.6s ease;
}

.links:hover::after {
  width: 100%;
}

/*************************** SEÇÃO DO MAIN, INCLUI MINHA FOTO, LOCALIZACAO, MEU NOME E O QUE EU FAÇO ************************** */
.principal {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.minha-foto {
  width: 300px;
  height: 300px;
  box-shadow: 0 0 20px rgba(250, 103, 67, 0.3);
  border: 2px solid #f0f0f0;
  border-radius: 300px;
  animation: balancar 4s ease-in-out infinite;
}

.localizacao {
  font-size: 18px;
  margin: 30px 0px 0px 0px;
}

.bandeira {
  padding-left: 5px;
  padding-bottom: 0px;
  width: 22px;
  background-size: cover;
}

.meu-nome {
  font-size: 45px;
  font-weight: 500;
  margin: 20px;
  color: #fa6743;
}

.ocupacao {
  font-size: 18px;
}

/*************************** SEÇÃO SOBRE MIM ************************** */

.sobre,
.projetos {
  padding: 96px 32px;
}

.sobre-titulo {
  text-align: center;
  font-size: 45px;
  margin-bottom: 30px;
}

.sobre-caixa {
  padding: 32px;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 16px;
  border: 1px solid;
  backdrop-filter: blur(8px);
  background-color: rgb(15, 15, 15);
}

.sobre-descricao {
  font-size: 18px;
  color: #f0f0f0;
}

/* ************************** SEÇÃO DOS PROJETOS ***************************/
.projetos-titulo {
  text-align: center;
  font-size: 45px;
  margin-bottom: 30px;
}

.projetos-caixa {
  display: flex;
  gap: 48px;
  max-width: 1200px;
  margin: 0 auto;
}

.projetos-card {
  border-radius: 16px;
  backdrop-filter: blur(5px);
  border: 1px solid rgb(37, 37, 37);
  overflow: hidden;
  transition: all 0.7s ease;
  cursor: pointer;
}

.projetos-card:hover {
  box-shadow: 0 10px 20px rgb(37, 37, 37, 0.2);
  transform: translateY(-10px) scale(1.05);
}

.projetos-imagem {
  height: 20vh;
  width: 100%;
  background-size: cover;
}

.titulos-projetos {
  color: rgba(226, 232, 240, 0.6);
  padding: 10px 0px 10px 0px;
  text-align: center;
  font-size: 25px;
}

.texto-projetos {
  padding: 0 auto;
  font-size: 13px;
}

/*************************** SEÇÃO DO CONTATO ************************** */

.link-paginas {
  color: #f0f0f0;
  text-decoration: none;
}
.contato-titulo {
  margin-top: 50px;
  text-align: center;
  font-size: 45px;
  margin-bottom: 50px;
}
.contato-caixa {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 300px;
}

#emojis {
  width: 100%;
  font-size: 40px;
  text-align: center;
}

.titulo-contato {
  text-align: center;
  font-size: 25px;
}

.texto-contato {
  font-size: 13px;
  text-align: center;
}

.contato-card {
  transition: all 0.7s ease;
  cursor: pointer;
}

.contato-card:hover {
  box-shadow: 0 10px 20px rgb(37, 37, 37, 0.2);
  transform: translateY(-20px) scale(1.1);
}

/*************************** SEÇÃO DA ANIMAÇÃO ************************** */

@keyframes balancar {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}
